# v1 manifests
apiVersion: content.hauler.cattle.io/v1
kind: Images
metadata:
  name: hauler-content-images-example
spec:
  images:
    - name: ghcr.io/hauler-dev/hauler:1.2.3
---
apiVersion: content.hauler.cattle.io/v1
kind: Charts
metadata:
  name: hauler-content-charts-example
spec:
  charts:
    - name: cert-manager
      repoURL: http://charts.jetstack.io
      version: v1.17.2
---
apiVersion: content.hauler.cattle.io/v1
kind: Files
metadata:
  name: hauler-content-files-example
spec:
  files:
    - path: https://get.rke2.io
      name: install.sh
